[submodule "config/nvim"]
	path = config/nvim
  url = git@github.com:danielucho345/neovim.git
[submodule "config/oh-my-posh"]
	path = config/oh-my-posh
	url = git@github.com:danielucho345/oh_my_posh.git
